* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothin: grayScale;
}

@keyframes shake {
  0% {
    transform: translate(1%, 0);
  }

  50% {
    transform: translate(0, -1%);
  }

  70% {
    transform: translate(-1%, 0);
  }

  100% {
    transform: translate(0, 1%);
  }
}

@keyframes appear {
  from {
    transform: translateY(100%) scale(0);
  }
}

@keyframes animated-bg {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 50% 100%;
  }
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(45deg, #190361 0%, #b0f 100%);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 200% 200%;
  animation: animated-bg 5s ease infinite;
}

h1 {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
}

main {
  display: grid;
  place-items: center;
  height: 100%;
  padding: 0 2%;
}

.fortuneCookie {
  text-align: center;
  background-color: #fff;
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.5rem;
  max-width: 42.4rem;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.8);
}

.fortuneCookie img {
  width: 100%;
  max-width: 24.8rem;
  margin-top: 2.4rem;
}

.fortuneCookie #fortuneCookie:hover {
  animation: shake 0.1s infinite;
  cursor: pointer;
}

.fortuneCookie p {
  font-family: "DM Sans", sans-serif;
  margin-top: 1.6rem;
}

.screen2 {
  padding: 4.8rem 6.4rem;
}

.screen2 p {
  font-family: "Dancing Script", cursive;
  background-color: #e4edf1;
  padding: 1rem;
  font-size: 2.4rem;
  border-radius: 0.5rem;
  animation: appear 1s;
}

.screen2 img {
  margin-top: 6.4rem;
}

.screen2 form {
  margin-top: 5.4rem;
}

.screen2 button {
  cursor: pointer;
  border: 0;
  padding: 1.6rem;
  border-radius: 0.4rem;
  background-color: #ff9500;
  color: #fff;
  font-weight: 700;
}

.hide {
  display: none;
}
